html, body {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
}
body {
    height: 100vh;
    width: 100vw;
}

.btn {
    min-width: 4em;
    padding: 0.4em 0.8em;
    border: none;
    text-align: center;
    cursor: pointer;

    &:hover {
        text-shadow: 0.3px 0.3px #aaa;
        box-shadow: 1px 1px 2px 2px #eee;
    }
}

.btn.btn-link {
    text-decoration: none;
    color: #44c2f4;
}
.btn.btn-default{
    color: #fafafa;
    background-color: #666;
}
.btn.btn-primary{
    color: #fafafa;
    background-color: #87ceeb;
}

.space {
    display: flex;
    gap: 0.3em;
}

.space-h {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.card {
    display: flex;
    padding: 1em;
    box-shadow: 0px 0px 4px 4px #afafaf;

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.page-header {
    display: flex;
    flex-direction: row;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    background: #fff;
    color: #2F2E3F;
    box-shadow: 0 1px 4px 1px rgba(38, 60, 86, 0.1);
    z-index: 1000;
    font-size: 14px;

    .page-header-title,
    .page-header-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .page-header-menu {
        .page-header-menu-item {
            display: flex;
        }
    }
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);

    .app-main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex: 1 1 auto;
        padding-top: 1em;
    }
}
