html, body {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
}
body {
    height: 100vh;
    width: 100vw;
}

.space {
    display: flex;
    gap: 0.3em;
}

.space-h {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    overflow-x: hidden;

    .app-main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex: 1 1 auto;
        padding-top: 1em;
    }
}
